{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" /> 
    <title>Files</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/reports">Reports</a>
        Files
      </nav>
    </header>
    <main>
      <div id="upload">
        Upload file(s)
        <form id="upload-form">
          <input type="file" id="upload-file" multiple>
          <input type="submit" value="OK">
        </form>
      </div>
      <div id="newfolder">
        New Folder
        <form id="createfolder-form">
          <input type="text" id="create-folder" multiple>
          <input type="submit" value="OK">
        </form>
      </div>
      <div id="files">
        Browse files
        <br>
        <div id="location">
          Location: <a href="/files">[htdocs]</a>
          {% for subdir in subdirs %}
          / {{ subdir }}
          {% endfor %}
        </div>
        <ul>
          {% for dir in dirs %}
          <li><img src="{% static 'files/img/folder.png' %}"><a href="{{ link_path }}/{{ dir }}">{{ dir }}</a></li>
          {% endfor %} 
          {% for file in files %}
          <li><img src="{% static 'files/img/text-html.png' %}"><a href="{{ link_path }}/{{ file }}">{{ file }}</a></li>
          {% endfor %}
        </ul>
        <hr>
        <button id="upload-button">Upload File(s)</button>
        <button id="newfolder-button">New Folder</button>
      </div>
    </main>
    <footer></footer>
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="{% static 'files/js/files.js' %}"></script> 
  </body>
</html>
