body, html {
  margin: 0;
  padding: 0;
  color: #000;
  background: #8ab5a2;
  font: 1.1em arial,sans-serif;
}

a {
  text-decoration: none;
}

nav {
  font: 1.1em arial,sans-serif;
}

header {
  padding: 10px;
  background: linear-gradient(#888, #666) repeat scroll 0% 0% transparent;
  width: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}

#reports {
  width: 260px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #adadaf;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 10px;
}


#charts {
  width: 250px;
  border: 2px solid black;
  border-radius: 10px;
  background: #976e42;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#bandwidthused {
  color: white;
}

#files {
  width: 260px;
  background: #adadaf;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 10px;
}

#files #location {
  font-size: 15px;
}

#files ul {
  list-style: none;
  padding: 5px;
}

#files li:hover {
  border-radius: 0.3em;
  background-color: white;
  width: 100%;
}

#upload {
  display: none;
  padding: 20px;
  border: 5px solid #154183;
  border-radius: 10px;
  background: none repeat scroll 0% 0% #FFF;
  text-align: center;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  bottom: 30%;
}

#upload-button {
  padding: 10px;
  background: linear-gradient(#4B83C1, white) repeat scroll 0% 0% transparent;
  font-size: 15px;
  border-radius: 3px;
}

#upload-button:hover {
  background: linear-gradient(white, #426CA6) repeat scroll 0% 0% transparent;
  font-size: 15px;
  border-radius: 3px;
}

#upload-file {
  font-size: 15px;
}

#newfolder {
  display: none;
  padding: 40px;
  border: 5px solid darkgreen;
  border-radius: 15px;
  background: none repeat scroll 0% 0% #FFF;
  text-align: center;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  bottom: 30%;
}

#newfolder-button, #newfolder-ok, #upload-ok {
  padding: 10px;
  background: linear-gradient(#4B83C1, white) repeat scroll 0% 0% transparent;
  font-size: 15px;
  border-radius: 3px;
  right: 0;
}

#newfolder-button:hover, #newfolder-ok:hover, #upload-ok:hover {
  background: linear-gradient(white, #4B83C1) repeat scroll 0% 0% transparent;
}

.close-button {
    top: -13px;
    right: -10px;
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 12px;
    box-shadow: 3px 3px 3px #999999;
    background-color: #000000;
    overflow: visible;
}

.inner-close-button {
    text-align: center;
    font-size: 19px;
    line-height: 19px;
    font-weight: bold;
    color: #ffffff;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    font-family: arial, sans-serif;
    padding-top: 0px;
}
