body, html {
  margin: 0;
  padding: 0;
  color: #000;
  background: #8ab5a2;
}
#wrap {
  width 750px;
  margin:0 auto;
  background: #fddbc0;
}
header {
  background: #d1d1d9;
}
.icon,
#search {
  text-align: center;
}
#profile, 
#controls,
#reports {
  float: left;
  width: 500px;
  background: #adadaf;
}

#users,
#charts {
  float: left;
  width: 250px;
  background: #976e42;
}

#bandwidthused {
  color: #b2a698;
}
